.aboutus-page-heading-div {
  display: flex;
  background-color: rgb(118, 136, 106);
  height: 200px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

// .aboutus-page-heading{

// }
// <---------------------------- Text-AboutUs --------------------------------------->
.text-aboutus-container {
  height: auto;
  width: 93%;
  // border: 2px solid rgb(0, 0, 0);
  margin: 10px 4%;
  padding: 3%;
  box-shadow: 10px 10px 5px rgb(237, 240, 240);
}

.trustee-heading {
  text-align: center;
}

// <---------------------------- Text-Rools-AboutUs --------------------------------------->
.text-terms-aboutus-container {
  width: 93%;
  height: auto;
  margin: 10px 4%;
  padding: 3%;
  box-shadow: 10px 10px 5px rgb(237, 240, 240);
}

.text-terms-heading-aboutus {
  text-align: center;
}



@media (max-width: 600px){
  .trustee-conatiner{
    text-align: center;
  }
}