.about-section-container{
    margin-top: 50px;

}
.about-section-text-heading{
    padding-top: 20px;
}
.about-section-row-text{
    padding-top: 30px;
    width: 80%;

}
.about-section-text-button{
    width: 15%;
    margin-top: 15px;
    border-radius: 20px;
}

.about-section-img{
    height: 300px;
    width: 400px;
}

//<--------------------------------------------- Volunteer-style --------------------------------------------------->
.volunteer-wrapper{
    position: relative;
}
.volunteer-back-img{

    height: 600px;
    width: 100%;
    object-fit: cover;
    margin-top: 80px;
    filter: brightness(50%);
    position: absolute;
    z-index: 1;
    
    
}

.upper-div{
    position: absolute;
    top: 170px;
    left: 150px;
    // border: 2px solid red;
    background-color: rgb(178, 187, 184);
    height: 450px;
    width: 80%;
    z-index: 3;

   
}
.upper-div-img{
    height: 450px;
    overflow: hidden;
    object-fit: cover;
}
.upper-div-text{
    margin: 100px 30px;
}
.upper-div-text-button{
    margin: 10px 0px;
}

//<--------------------------------------------- Ouractivity-style --------------------------------------------------->

.ouractivity{

    background-color: rgb(255, 255, 255);
    border: 2px solid bisque;
    border-radius: 10px;
    height: auto;
    width: auto;
    margin: 10px 40px;
    margin-top: 700px;
    box-shadow: 10px 10px rgb(237, 233, 233);
    
}

.ouractivity-heading{
    text-align: center;
    margin-top: 20px;

}
.grid-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.ouractivity-img{
    height: 100%;
    object-fit: cover;
}