.make-donation-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 10%;
    margin-top: 30px;
    
}

.inner-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.img-text p{
    padding-left: 70px;

}