.carousel-container{
    height: 100%;
    width: 100vh;
}




footer{
    background-color: rgb(24, 23, 24);
    height: 300px;
    width: 95%;
    border-radius: 30px;
    margin: 30px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
     
    
    
    
    
}

footer div{
    width: 18%;
    margin: 10px 20px;
   
    
}
footer div p{
    color: white;
    font-size: 15px;
    cursor: pointer;
}
footer div p a{
    text-decoration: none;
    color: white;
}

footer h3{
    color: aliceblue;
    border-bottom: 2px solid wheat;
    font-size: x-large;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.se-no{
visibility: hidden;}
#siteemail{
    font-size: 14px;
}


@media (max-width:600px){
    footer{
        margin: 30px 20px;
        height: auto;
    }
    footer div{
        width: 100%;
        
        
    }
   
}

@media (min-width: 600px) and (max-width: 992px){
    footer{
        margin: 30px 20px;
        height: auto;
    }
    footer div{
        width: 100%;
        
        
    }
}